<main class="main">
  <!--ul class="horizontal-nav">
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/product-list']">Product List</a></li>
    <li><a [routerLink]="['/add-product']">Add New Product</a></li>
  </ul-->
  <app-product-v3></app-product-v3>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
